# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Configure VS Code settings
.vscode

# __pycache__ directories
__pycache__

# Models folder
models/

# Server Ignore
chatbot-server/api/.venv/
chatbot-server/rasa/.rasa/
chatbot-server/rasa/.venv/